<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="mis-datos">Mis Datos</ion-segment-button>
    <ion-segment-button value="experiencia-laboral">Experiencia Laboral</ion-segment-button>
    <ion-segment-button value="certificaciones">Certificaciones</ion-segment-button>
  </ion-segment>

  <app-mis-datos *ngIf="selectedTab === 'mis-datos'"></app-mis-datos>
  <app-experiencia-laboral *ngIf="selectedTab === 'experiencia-laboral'"></app-experiencia-laboral>
  <app-certificaciones *ngIf="selectedTab === 'certificaciones'"></app-certificaciones>

  <ion-button routerLink="/map">Go to Map</ion-button>
</ion-content>